/* ================================
            Header
===================================*/

header {
    margin: 0px;
    background-color: var(--black);
    height: 60px;
}

/* ================================
            Search
===================================*/
.search {
    line-height: 3.25;
    text-align: center;
    color: blanchedalmond;
    width: 1;
}
.search__bar{
    text-align: center;
    font-size: 15px;
}

.search input {
    width: 200px;
    height: 22px;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.2s linear;
}


.search:hover input{
    width: 250px;
    height: 30px;
    border-radius: 7px;
    font-size: 18px;
}


/* ================================
            Section
===================================*/

section {
    padding: 30px;
    height: 100vh;
}

/* ================================
            Card
===================================*/

.card {
    width: 300px;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

.card__titulo {
    font-size: 1.2em;
    margin-bottom: 25px;
    color: var(--black);
}