/* ================================
            Header
===================================*/

header {
    margin: 0px;
    background-color: var(--black);
    height: 60px;
}

/* ================================
            Search
===================================*/
.pesquisa {
    line-height: 3.25;
    text-align: center;
    color: blanchedalmond;
    width: 1;
}

.pesquisa input {
    width: 200px;
    height: 22px;
    padding: 10px;
    transition: all 0.3s linear;
}

.pesquisa__barra {
    width: 300px;
    height: 30px;
}


/* ================================
            Section
===================================*/

section {
    padding: 30px;
    height: 100vh;
}

.card {
    width: 300px;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

.card__titulo {
    font-size: 1.2em;
    margin-bottom: 25px;
    color: var(--black);
}