header{
    margin: 0px ;
    background-color: black;
    opacity: 0.9;
}

.pesquisa{
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    color: blanchedalmond;
    width: 1;
}
section{
    padding: 30px;
    height: 100vh;
    background-color: blue;
}